n8n
{
  "name": "Git Push → IA Doc Simple",
  "nodes": [
    {
      "parameters": {
        "owner": "arnaudprc",
        "repository": "n8n-md",
        "events": ["push"],
        "options": {}
      },
      "name": "GitHub Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "githubApi": {
          "id": "7Qh4H96knca0zvdH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/arnaudprc/n8n-md/main/test.py",
        "method": "GET",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Get Raw File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "const codeContent = $node[\"Get Raw File\"].json;\nreturn [{\n  json: {\n    model: \"deepseek-ai/DeepSeek-R1\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"Tu es un agent qui génère une documentation technique claire et structurée.\"\n      },\n      {\n        role: \"user\",\n        content: \"Voici le code :\\n\" + codeContent + \"\\nGénère une documentation correspondante.\"\n      }\n    ]\n  }\n}];"
      },
      "name": "Prepare IA JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "https://router.huggingface.co/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 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" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "name": "Send to IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "arnaudprc",
        "repository": "n8n-md",
        "filePath": "docs/test_doc.md",
        "fileContent": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
        "commitMessage": "Génération automatique de documentation"
      },
      "name": "Publish Doc",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "githubApi": {
          "id": "7Qh4H96knca0zvdH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "GitHub Trigger": { "main": [[{ "node": "Get Raw File", "type": "main", "index": 0 }]] },
    "Get Raw File": { "main": [[{ "node": "Prepare IA JSON", "type": "main", "index": 0 }]] },
    "Prepare IA JSON": { "main": [[{ "node": "Send to IA", "type": "main", "index": 0 }]] },
    "Send to IA": { "main": [[{ "node": "Publish Doc", "type": "main", "index": 0 }]] }
  },
  "active": false
}
